.autocomplete {
  position: relative;
}

.input {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}

.open .options-list {
  display: block;
}
label.Mui-focused {
  color:white;
}
.MuiOutlinedInput-notchedOutline {
  border-color: red !important;
  border-width: 4px !important;
}
.\1ald77x {
  color:white!important;
}
.options-list {
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style-type: none;
  margin-top: 0;
  padding: 0;
  display: none;
}

.option {
  padding: 10px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.option:hover {
  background-color: #f5f5f5;
}
